.episode{
    height: 200px;
    width: 350px;
    position: fixed;
    background-color: #11574a;
    z-index: 101;
    right: 30px;
    top: 500px;
    border-radius: 20px;
}
.episodeText>*{
    display: block;
    color: antiquewhite;
    margin-top: 5px;
    font-weight: bolder;
    font-size: x-large;
}
.episodeText{
    text-align: center;
}
.episodeColor{
    color: #184343;
}
